{extend name="base/base" /}
{block name="content"}

<div class="layui-fluid">
    <form class='layui-form' id="formData">
        <div class="demoTable">

            <div class="layui-inline">
                <label class="layui-form-label">id</label>
                <div class="layui-input-inline">
                    <input type="text" name="id" autocomplete="off" class="layui-input"
                           value="{$id}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" id="searchUid" autocomplete="off" class="layui-input"
                           value="{$name}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">key:</label>
                <div class="layui-input-inline">
                    <input type="text" name="key" id="searchUsername" autocomplete="off" class="layui-input"
                           value="{$key}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">value:</label>
                <div class="layui-input-inline">
                    <input type="text" name="value" id="searchTruename" autocomplete="off" class="layui-input"
                           value="{$value}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">开始时间:</label>
                <div class="layui-input-inline">
                    <input type="text" name="startDate" autocomplete="off" class="layui-input" id="startDate"
                           placeholder="" value="{$startDate}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">结束时间:</label>
                <div class="layui-input-inline">
                    <input type="text" name="overDate" autocomplete="off" class="layui-input" id="overDate"
                           placeholder="" value="{$overDate}">
                </div>
            </div>
            <div class="layui-form-item layui-inline" style="margin-top: 10px">
                <label class="layui-form-label">类型:</label>
                <div class="layui-input-inline">
                    <select name="typeId" lay-filter="type">
                        <option value="0" >全部</option>
                        {foreach $type as $k=>$v}
                        <option value="{$v.id}" {if $v.id == $typeId} selected="selected" {/if}>{$v.name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

        </div>

        <button class="layui-btn" data-type="reload">搜索</button>
        <button class="layui-btn" data-type="reload" type="button" id='remove'>清除筛选</button>
        <button class="layui-btn" type="button" onclick="openView('addFormData')">添加配置</button>
    </form>

    <table class="layui-hide" id="data" lay-filter="dataEvent">
        <script type="text/html" id="btn1" class="layui-bg-red">
            <button type="button" class="layui-btn" style="height: 28px;line-height: 28px;"
                    onclick="openData( {{ d.id }} )">编辑
            </button>
            <button class="layui-btn layui-btn-danger" style="height: 28px;line-height: 28px;" onclick="deleteData( {{ d.id }} ,'{{ d.name }}','/admin/variable/delete' )">删除</button>
        </script>
    </table>
</div>


<!--添加表单-->
<form id="addFormData" class='layui-form' style="display: none">

    <div class="layui-form-item" style="margin-top: 20px ">
        <label class="layui-form-label">类别</label>
        <div class="layui-input-inline">
            <select name="type_id" >
                <option value="0">请选择</option>
                {foreach $type as $k=>$v}
                <option value="{$v.id}" {if $v.id == $typeId} selected="selected" {/if}>{$v.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item"  >
        <label class="layui-form-label">标识名称</label>
        <div class="layui-input-inline">
            <input name="name" autocomplete="off" class="layui-input" type="text" >
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">key</label>
        <div class="layui-input-inline">
            <input name="key" autocomplete="off" class="layui-input" type="text" >
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">value</label>
        <div class="layui-input-inline">
            <input name="value" autocomplete="off" class="layui-input" type="text" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input name="sort" autocomplete="off" class="layui-input" type="text" >
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="button" id="feng-btn" onclick="submitInsert('/admin/variable/create')">立即提交</button>
        </div>
    </div>

</form>


<!--编辑表单-->
<form id="editFormData" class='layui-form' style="display: none">

    <input type="hidden" name="id" id="id">

    <div class="layui-form-item" style="margin-top: 20px ">
        <label class="layui-form-label">类别</label>
        <div class="layui-input-inline">
            <select name="type_id" id="type_id">
                <option value="0">请选择</option>
                {foreach $type as $k=>$v}
                <option value="{$v.id}" {if $v.id == $typeId} selected="selected" {/if}>{$v.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item"  >
        <label class="layui-form-label">标识名称</label>
        <div class="layui-input-inline">
            <input name="name" autocomplete="off" class="layui-input" type="text" id="name" >
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">key</label>
        <div class="layui-input-inline">
            <input name="key" autocomplete="off" class="layui-input" type="text" id="key" >
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">value</label>
        <div class="layui-input-inline">
            <input name="value" autocomplete="off" class="layui-input" type="text"id="value" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input name="sort" autocomplete="off" class="layui-input" type="text" id="sort" >
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="button" onclick="updateData()">立即提交</button>
        </div>
    </div>

</form>
{/block}

{block name='script'}
<script>
    $(function () {
        layui.use(['table'], function () {
            table = layui.table
                , form = layui.form,
                layer = layui.layer;

            table.render({
                elem: '#data'
                , url: '/admin/variable/index'
                , method: "post"
                , where: {
                    id:'{$id}',name:'{$name}','key':'{$key}','value':'{$value}','startDate':'{$startDate}',
                    'overDate':'{$overDate}' ,'typeId':'{$typeId}',
                }
                , cellMinWidth: 80
                , cols: [[
                    {field: 'id', width: '10%', title: 'ID', sort: true}
                    , {field: 'typeName', title: '类别'}
                    , {field: 'name', title: '名称'}
                    , {field: 'key', title: '标识'}
                    , {field: 'value', title: '值'}
                    , {field: '', title: '操作', templet: '#btn1'}
                ]]
                , page: true
            });
        });
    })

    function openData(id) {
        ajax.post('/admin/variable/get',{'id':id},function (res) {
            if (res.status != 200){
                layer.msg(res.msg,{time:1000})
                return '';
            }
            //渲染
            for(let key in  res.res ){
                $('#'+key).val(res.res[key]);
                console.log(key)
            }
            form.render();
            openView('editFormData');
        })
    }

    function updateData() {
        var formData = new FormData($('#editFormData')[0]);
        layer.closeAll();
        ajax.post('/admin/variable/update',formData,function (res) {
            layer.msg(res.msg,{time:1000},function () {
                if(res.status == 200){
                    refreshTable();
                }
            })
        })
    }

</script>
{/block}
