{extend name="base/base" /}
{block name="content"}
<script src="/static/layui_exts/treeSelect/common.js"></script>
<style>
    .ztree *{
        font-family: "微软雅黑","宋体",Arial, "Times New Roman", Times, serif;
    }
    .ztree {
        padding: 0 !important;
        border-left: 1px solid #E3E3E3;
        border-right: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
    }
    .ztree li a {
        vertical-align: middle;
        height: 32px !important;
        padding: 0px;
    }
    .ztree li > a {
        width: 100%;
    }
    .ztree li a.curSelectedNode {
        padding-top: 0px;
        background-color: #f2f2f2 !important;
        border: 1px #f2f2f2 solid !important;
        opacity: 1;
        height: 32px;
    }
    .ztree li ul {
        padding-left: 0px !important;
    }
    .ztree div.divTd span {
        line-height: 30px;
        vertical-align: middle;
    }
    .ztree div.divTd {
        height: 100%;
        line-height: 30px;
        border-top: 1px solid #E3E3E3;
        border-left: 1px solid #E3E3E3;
        text-align: center;
        display: inline-block;
        color: #6c6c6c;
        overflow: hidden;
    }
    .ztree div.divTd:first-child {
        text-align: left;
        text-indent: 10px;
        border-left: none;
    }
    .ztree .head {
        background: #f2f2f2;
    }
    .ztree .head div.divTd {
        color: #393939;
        font-weight: bold;
    }
    /*.ztree .ck{*/
        /*padding: 0 5px;*/
        /*margin: 2px 3px 7px 3px;*/
    /*}*/
    li:nth-child(odd){
        background-color:#fff;
    }
    li:nth-child(even){
        background-color:#FFFFFF;
    }

    .layui-btn {
        height: 25px;
        line-height: 25px;
        padding: 0 16px !important;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        font-size: 14px !important;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="/static/zTreeStyle/zTreeStyle.css">

<div class="layui-fluid">

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">

                    <div class="layui-card-body" pad15>
                        <button type="button" style="margin-bottom: 15px" class="layui-btn" onclick="openView('cms-addForm')">添加类别</button>
                        <ul id="dataTree" class="ztree">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{/block}

{block name='script'}

<script>
    $(function () {
        layui.use(['table','treeSelect'], function () {
            table = layui.table
                , layer = layui.layer;

            table.render({
                elem: '#data'
                , url: '/admin/variable/index'
                , method: "post"
                , where: {}
                , cellMinWidth: 80
                , cols: [[
                    {field: 'id', width: '10%', title: 'ID', sort: true}
                    , {field: 'name', title: '名称'}
                    , {field: 'key', title: '标识'}
                    , {field: 'value', title: '值'}
                    , {field: 'is_enable', title: '是否启用', templet: '#switchTpl',}
                    , {field: '', title: '操作', templet: '#btn1'}
                ]]
                , page: true
            });
        });
    })

</script>



<script src="/static/js/jquery.ztree.core.min.js"></script>
<script>
    var newOpen =null;
    $(function () {
        //初始化数据
        var data = {$category|raw};
        queryHandler(data);
    });
    var setting = {
        view: {
            showLine: false,
            addDiyDom: addDiyDom,
        },
        data: {
            simpleData: {
                enable: true, //使用简单数据模式
                idKey: "id", //节点数据中保存唯一标识的属性名称
                pIdKey: "pid",//节点数据中保存其父节点唯一标识的属性名称
//                        rootPId: "" //用于修正根节点父节点数据 默认值：null
            }
        }
    };
    /**
     * 自定义DOM节点
     */
    function addDiyDom(treeId, treeNode) {
        var spaceWidth = 15;
        var liObj = $("#" + treeNode.tId);
        var aObj = $("#" + treeNode.tId + "_a");
        var switchObj = $("#" + treeNode.tId + "_switch");
        var icoObj = $("#" + treeNode.tId + "_ico");
        var spanObj = $("#" + treeNode.tId + "_span");
        aObj.attr('title', '');
        aObj.append('<div class="divTd swich fnt" style="width:30%"></div>');
        var div = $(liObj).find('div').eq(0);
        //从默认的位置移除
        switchObj.remove();
        spanObj.remove();
        icoObj.remove();
        //在指定的div中添加
        div.append(switchObj);
        div.append(spanObj);
        //隐藏了层次的span
        var spaceStr = "<span style='height:1px;display: inline-block;width:" + (spaceWidth * treeNode.level) + "px'></span>";
        switchObj.before(spaceStr);
        //图标垂直居中
        icoObj.css("margin-top","9px");
        switchObj.after(icoObj);
        var editStr = '';
        //宽度需要和表头保持一致
        editStr += '<div class="divTd" style="width:30%">' + (treeNode.date) + '</div>';
        editStr += '<div class="divTd" style="width:20%">' + (treeNode.sort ) + '</div>';
        editStr += '<div class="divTd" style="width:20%">' + opt(treeNode) + '</div>';
        aObj.append(editStr);
    }
    //初始化列表
    function queryHandler(zTreeNodes){
        //初始化树
        $.fn.zTree.init($("#dataTree"), setting, zTreeNodes);
        //添加表头
        var li_head = ' <li class="head"><a><div class="divTd" style="width:30%">名称</div><div class="divTd" style="width:30%">创建时间</div>' +
            '<div class="divTd" style="width:20%">排序</div><div class="divTd" style="width:20%">操作</div></a></li>';
        var rows = $("#dataTree").find('li');
        if (rows.length > 0) {
            rows.eq(0).before(li_head)
        } else {
            $("#dataTree").append(li_head);
            $("#dataTree").append('<li ><div style="text-align: center;line-height: 30px;" >无符合条件数据</div></li>')
        }
    }
    function opt(treeNode) {
        var htmlStr = '';
        htmlStr += '<input type="button" class=" layui-btn" onclick="editMenu( ' + treeNode.id + ')" value="编辑"/>';
        htmlStr += '<input type="button" class=" layui-btn layui-btn-danger" onclick="deleteMenu(' + treeNode.id + ' )" value="删除"/>';
        return htmlStr;
    }
</script>

<script>

    function submitAddForm(address) {
        var formData = new FormData($('#cms-addForm')[0]);
        ajax.post(address, formData, function (res) {
            layer.msg(res.msg, {time: 1000}, function () {
                if (res.status == 200) {
                    window.location.reload();
                }
            });
        })
    }

</script>
{/block}



{block name='form'}

<form id="cms-addForm" style="display:none;margin-top: 10px" class="layui-form">

    <div class="layui-form-item secondSelect" style="margin-top: 20px;">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
            <select name="pid"  value="" >
                <option value="">顶级菜单</option>
                {foreach $categoryTree as $k=>$v}
                {if($v.son)}
                <optgroup label="{$v.name}"  value="{$v.id}">
                    {foreach $v.son as $key=>$val}
                    <option value="{$val.id}">{$val.name}</option>
                    {/foreach}
                </optgroup>
                {else}
                <option value="{$v.id}">{$v.name}</option>
                {/if}
                {/foreach}

                <option style="display: none" class="pid-value"></option>
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text"  name="name" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">sort</label>
        <div class="layui-input-inline">
            <input type="text" name="sort"  placeholder="请输入类别排序" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div class="layui-input-block">
            <input type="radio" name="is_enable" value="1" title="启用" checked="">
            <input type="radio" name="is_enable" value="0" title="不启用">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="button"   onclick="submitAddForm('/admin/category/create')">立即提交</button>
        </div>
    </div>
</form>

{/block}



