{extend name="base/base" /}
{block name='content'}
<link rel="stylesheet" href="/static/zTreeStyle/zTreeStyle.css">
<style>
    /*.ztree *{*/
    /*font-family: "微软雅黑","宋体",Arial, "Times New Roman", Times, serif;*/
    /*}*/
    .ztree {
        padding: 0;
        border-left: 1px solid #E3E3E3;
        border-right: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
    }

    .ztree li a {
        vertical-align: middle;
        height: 32px !important;
        padding: 0px;
    }

    .ztree li > a {
        width: 100%;
    }

    .ztree li a.curSelectedNode {
        padding-top: 0px;
        background-color: #f2f2f2;
        border: 1px #f2f2f2 solid;
        opacity: 1;
        height: 32px;
    }

    .ztree li ul {
        padding-left: 0px !important;
    }

    .ztree div.divTd span {
        line-height: 30px;
        vertical-align: middle;
    }

    .ztree div.divTd {
        height: 100%;
        line-height: 30px;
        border-top: 1px solid #E3E3E3;
        border-left: 1px solid #E3E3E3;
        text-align: center;
        display: inline-block;
        color: #6c6c6c;
        overflow: hidden;
    }

    .ztree div.divTd:first-child {
        text-align: left;
        text-indent: 10px;
        border-left: none;
    }

    .ztree .head {
        background: #f2f2f2;
    }

    .ztree .head div.divTd {
        color: #393939;
        font-weight: bold;
    }

    .ztree .ck {
        padding: 0 5px;
        margin: 2px 3px 7px 3px;
    }

    .ztree li:nth-child(even) {
        background-color: #FFFFFF;
    }

    .layui-btn {
        height: 25px;
        line-height: 25px;
        padding: 0 16px !important;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        font-size: 14px !important;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body" pad15>
                    <button type="button" class="layui-btn" onclick="openView('insertForm')">添加菜单</button>
                    <ul id='tree' class="ztree" style="width:100%;height:100%;margin-top: 15px"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery.ztree.core.min.js"></script>

<script>

    var setting = {
        view: {
            showLine: false,
            addDiyDom: addDom,
        },
        data: {
            simpleData: {
                enable: true, //使用简单数据模式
                idKey: "id", //节点数据中保存唯一标识的属性名称
                pIdKey: "pid",//节点数据中保存其父节点唯一标识的属性名称
//                        rootPId: "" //用于修正根节点父节点数据 默认值：null
            }
        }
    };

    $(function () {
        //初始化数据
        var data = {$data|raw};//初始化树

        $.fn.zTree.init($("#tree"), setting, data);
        //添加表头
        var li_head = ' <li class="head"><a><div class="divTd" style="width:40%">菜单名称</div><div class="divTd" style="width:20%">菜单图标</div>' +
            '<div class="divTd" style="width:20%">菜单链接</div><div class="divTd" style="width:20%">操作</div></a></li>';
        var rows = $("#tree").find('li');
        if (rows.length > 0) {
            rows.eq(0).before(li_head)
        } else {
            $("#tree").append(li_head);
            $("#tree").append('<li ><div style="text-align: center;line-height: 30px;" >无符合条件数据</div></li>')
        }
    });

    /**
     * 自定义DOM节点
     */
    function addDom(treeId, treeNode) {
        var spaceWidth = 15;
        var liObj = $("#" + treeNode.tId);
        var aObj = $("#" + treeNode.tId + "_a");
        var switchObj = $("#" + treeNode.tId + "_switch");
        var icoObj = $("#" + treeNode.tId + "_ico");
        var spanObj = $("#" + treeNode.tId + "_span");
        aObj.attr('title', '');
        aObj.append('<div class="divTd swich fnt" style="width:40%"></div>');
        var div = $(liObj).find('div').eq(0);
        //从默认的位置移除
        switchObj.remove();
        spanObj.remove();
        icoObj.remove();
        //在指定的div中添加
        div.append(switchObj);
        div.append(spanObj);
        //隐藏了层次的span
        var spaceStr = "<span style='height:1px;display: inline-block;width:" + (spaceWidth * treeNode.level) + "px'></span>";
        switchObj.before(spaceStr);
        //图标垂直居中
        icoObj.css("margin-top", "9px");
        switchObj.after(icoObj);
        var editStr = '';
        //宽度需要和表头保持一致
        editStr += '<div class="divTd" style="width:20%">' + (treeNode.icon == null ? '' : treeNode.icon) + '</div>';
        editStr += '<div class="divTd" style="width:20%">' + (treeNode.address == null ? '' : treeNode.address) + '</div>';
        editStr += '<div class="divTd" style="width:20%">' + opt(treeNode) + '</div>';
        aObj.append(editStr);
    }

    function opt(treeNode) {
        var htmlStr = '';
        htmlStr += '<input type="button" class=" layui-btn" onclick="editMenu( ' + treeNode.id + ')" value="编辑"/>';
        htmlStr += '<input type="button" class=" layui-btn layui-btn-danger" onclick="deleteMenu(' + treeNode.id + ' )" value="删除"/>';
        return htmlStr;
    }

</script>

<script>
    function editMenu(id) {
        ajax.post('/admin/menu/get', {'id': id}, function (res) {
            if (res.status != 200) {
                layer.msg(res.msg);
                return '';
            }
            for (let key in res.res) {
                $('#' + key).val(res.res[key])
            }
            var text = res.res.name;
            var value = res.res.pid;

            $("#pid").find('optgroup').each(function () {
                let thisVal =$(this).attr('value');
                let thisName = $(this).attr('label');
                if(thisVal == value){
                    $('#pid').find('.pid-value').val(value)
                    $('#pid').find('.pid-value').text(text)
                    return false;
                }
            })

            $('#pid').parents('.secondSelect').find('dt').each(function () {
                let thisText = $(this).text();
                if(thisText == text){
                    $(this).addClass('layui-this')
                    return false;
                }
            })
            $('#pid').val(value)
            $('#editForm').find('.secondSelect').find('.layui-select-title').find('input').val(text)
            openView('editForm');
        })
    }

    function fengDeleteMenu(id, name) {
        layer.confirm("您确定删除:" + name + '?', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            console.log(name);
            refreshAjax('__ROOT__/menu/deleteMenu', JSON.stringify({'id': id}), 'application/json');
        }, function () {
            return '';
        });
    }
    function insertSubmit() {
        var formData = new FormData($('#insertForm')[0]);
        layer.closeAll();
        ajax.post('/admin/menu/insert',formData,function (res) {
            layer.msg(res.msg,{time:1000},function () {
                if (res.status == 200) {
                    location.reload();
                }
            })
        })
    }

    function editSubmit() {
        var formData = new FormData($('#editForm')[0]);
        layer.closeAll();
        ajax.post('/admin/menu/update',formData,function (res) {
            layer.msg(res.msg,{time:1000},function () {
                if (res.status == 200) {
                    location.reload();
                }
            })
        })
    }
</script>

<form class="layui-form" id="insertForm" style="display: none">

    <div class="layui-form-item secondSelect" style="margin-top: 20px;">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
            <select name="pid"  value="" >
                <option value="0">顶级菜单</option>
                {foreach $menu as $k=>$v}
                {if($v.son)}
                <optgroup label="{$v.name}"  value="{$v.id}">
                    {foreach $v.son as $key=>$val}
                    <option value="{$val.id}">{$val.name}</option>
                    {/foreach}
                </optgroup>
                {else}
                <option value="{$v.id}">{$v.name}</option>
                {/if}
                {/foreach}

                <option style="display: none" class="pid-value"></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-block">
            <input name="name" autocomplete="off" class="layui-input" type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">访问链接</label>
        <div class="layui-input-inline">
            <input name="url" autocomplete="off" class="layui-input" type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-inline">
            <input name="icon" autocomplete="off" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input name="sort" autocomplete="off" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="button"  onclick="insertSubmit()">立即提交</button>
        </div>
    </div>

</form>


<form class="layui-form" id="editForm" style="display: none">
    <input type="hidden" name="id" id='id'>

    <div class="layui-form-item secondSelect" style="margin-top: 20px;">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
            <select name="pid"  value="" id="pid">
                <option value="0">顶级菜单</option>
                {foreach $menu as $k=>$v}
                {if($v.son)}
                <optgroup label="{$v.name}"  value="{$v.id}">
                    {foreach $v.son as $key=>$val}
                    <option value="{$val.id}">{$val.name}</option>
                    {/foreach}
                </optgroup>
                {else}
                <option value="{$v.id}">{$v.name}</option>
                {/if}
                {/foreach}
                <option style="display: none" class="pid-value"></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-block">
            <input name="name" autocomplete="off" class="layui-input" type="text" id="name">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">访问链接</label>
        <div class="layui-input-inline">
            <input name="url" autocomplete="off" class="layui-input" type="text" id="url">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-inline">
            <input name="icon" autocomplete="off" class="layui-input" type="text" id="icon">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input name="sort" autocomplete="off" class="layui-input" type="text" id="sort">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="button" onclick="editSubmit()">立即提交</button>
        </div>
    </div>

</form>

{/block}
